In [226]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import or_
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

import numpy as np
import pandas as pd

In [227]:
# create an engine to sqlite db
engine = create_engine("sqlite:///sec13f.sqlite")

In [228]:
# Create a connection to the engine called conn
conn = engine.connect()

In [229]:
# Create a session
session = Session(engine)

In [230]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [231]:
# Use the Base class to reflect the database tables
# create classes based on database
Base.prepare(engine, reflect=True)

In [232]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['latest_positions', 'positions', 'securitiesex']

In [233]:
Positions = Base.classes.positions

In [234]:
df = pd.DataFrame(session.query(Positions.file_date, Positions.cusip, Positions.name, Positions.mval, Positions.shares).all())
df.head()

    file_date      cusip                 name     mval    shares
0  2013-06-30  025816109  AMERICAN EXPRESS CO   145942   1952142
1  2013-06-30  025816109  AMERICAN EXPRESS CO  1287771  17225400
2  2013-06-30  025816109  AMERICAN EXPRESS CO    62786    839832
3  2013-06-30  025816109  AMERICAN EXPRESS CO   145266   1943100
4  2013-06-30  025816109  AMERICAN EXPRESS CO   597679   7994634

In [235]:
sumdf = df.groupby(["file_date","cusip","name"], as_index = False).sum()
sumdf.head()

    file_date      cusip                          name      mval     shares
0  2013-06-30  025816109           AMERICAN EXPRESS CO  11334417  151610700
1  2013-06-30  064058100  BANK OF NEW YORK MELLON CORP    691264   24644029
2  2013-06-30  167250109  CHICAGO BRIDGE & IRON CO N V    569798    9550755
3  2013-06-30  191216100                  COCA COLA CO  16044001  400000000
4  2013-06-30  20825C104                CONOCOPHILLIPS   1459497   24123911

In [236]:
def get_prior_quarter(date):
    year = date[0:4]
    mthday = date[5:10]
    if mthday == "03-31":
        prior_date = str(int(year)-1) + "-12-31"
    elif mthday == "06-30":
        prior_date = year + "-03-31"
    elif mthday == "09-30":
        prior_date = year + "-06-30"
    elif mthday == "12-31":
        prior_date = year + "-09-30"
    else:
        prior_date = ""

    return prior_date

In [237]:
get_prior_quarter('2013-06-30')

'2013-03-31'

In [238]:
sumdf["prior_qtr"] = sumdf["file_date"].apply(get_prior_quarter)
sumdf.head()

,file_date,cusip,name,mval,shares,prior_qtr
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,2013-03-31
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,2013-03-31
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,2013-03-31
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,2013-03-31
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,2013-03-31

In [239]:
def getPrice(row):
    if row["shares"] == 0:
        price = 0
    else:
        price = (row["mval"] * 1000)/ row["shares"]
    return price

In [240]:
sumdf["price"] = sumdf.apply(getPrice, axis=1)

In [241]:
joindf = pd.merge(sumdf, sumdf, how="left", left_on=["cusip", "name", "prior_qtr"], right_on=["cusip", "name", "file_date"], suffixes =("_c","_p"))
joindf.head(50)

,file_date_c,cusip,name,mval_c,shares_c,prior_qtr_c,price_c,file_date_p,mval_p,shares_p,prior_qtr_p,price_p
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,2013-03-31,74.760007,NaN,NaN,NaN,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,2013-03-31,28.049959,NaN,NaN,NaN,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,2013-03-31,59.659995,NaN,NaN,NaN,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,2013-03-31,40.110003,NaN,NaN,NaN,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,2013-03-31,60.500016,NaN,NaN,NaN,NaN,NaN
5,2013-06-30,22160K105,COSTCO WHSL CORP NEW,479140,4333363,2013-03-31,110.570012,NaN,NaN,NaN,NaN,NaN
6,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1808848,14973906,2013-03-31,120.800010,NaN,NaN,NaN,NaN,NaN
7,2013-06-30,244199105,DEERE & CO,323275,3978767,2013-03-31,81.250046,NaN,NaN,NaN,NaN,NaN
8,2013-06-30,25470M109,DISH NETWORK CORP,23272,547312,2013-03-31,42.520537,NaN,NaN,NaN,NaN,NaN
9,2013-06-30,25490A309,DIRECTV,2297655,37275400,2013-03-31,61.639982,NaN,NaN,NaN,NaN,NaN
10,2013-06-30,369604103,GENERAL ELECTRIC CO,13657,588900,2013-03-31,23.190695,NaN,NaN,NaN,NaN,NaN
11,2013-06-30,37045V100,GENERAL MTRS CO,1332400,40000000,2013-03-31,33.310000,NaN,NaN,NaN,NaN,NaN
12,2013-06-30,37733W105,GLAXOSMITHKLINE PLC,73757,1476021,2013-03-31,49.970156,NaN,NaN,NaN,NaN,NaN
13,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13018792,68121984,2013-03-31,191.109995,NaN,NaN,NaN,NaN,NaN
14,2013-06-30,478160104,JOHNSON & JOHNSON,28085,327100,2013-03-31,85.860593,NaN,NaN,NaN,NaN,NaN
15,2013-06-30,50076Q106,KRAFT FOODS GROUP INC,10764,192666,2013-03-31,55.868705,NaN,NaN,NaN,NaN,NaN
16,2013-06-30,523768109,LEE ENTERPRISES INC,181,88863,2013-03-31,2.036843,NaN,NaN,NaN,NaN,NaN
17,2013-06-30,531229102,LIBERTY MEDIA CORP DELAWARE,712688,5622340,2013-03-31,126.760032,NaN,NaN,NaN,NaN,NaN
18,2013-06-30,55261F104,M & T BK CORP,601444,5382040,2013-03-31,111.750191,NaN,NaN,NaN,NaN,NaN
19,2013-06-30,57636Q104,MASTERCARD INC,232673,405000,2013-03-31,574.501235,NaN,NaN,NaN,NaN,NaN
20,2013-06-30,584404107,MEDIA GEN INC,51248,4646220,2013-03-31,11.030042,NaN,NaN,NaN,NaN,NaN
21,2013-06-30,609207105,MONDELEZ INTL INC,16490,578000,2013-03-31,28.529412,NaN,NaN,NaN,NaN,NaN
22,2013-06-30,615369105,MOODYS CORP,1518508,24922178,2013-03-31,60.929988,NaN,NaN,NaN,NaN,NaN
23,2013-06-30,637071101,NATIONAL OILWELL VARCO INC,611832,8880000,2013-03-31,68.900000,NaN,NaN,NaN,NaN,NaN
24,2013-06-30,718546104,PHILLIPS 66,1600226,27163918,2013-03-31,58.909985,NaN,NaN,NaN,NaN,NaN
25,2013-06-30,740189105,PRECISION CASTPARTS CORP,446898,1977336,2013-03-31,226.010147,NaN,NaN,NaN,NaN,NaN
26,2013-06-30,742718109,PROCTER & GAMBLE CO,4064539,52793078,2013-03-31,76.989999,NaN,NaN,NaN,NaN,NaN
27,2013-06-30,80105N105,SANOFI,209321,4063675,2013-03-31,51.510271,NaN,NaN,NaN,NaN,NaN
28,2013-06-30,85571Q102,STARZ,124254,5622340,2013-03-31,22.100051,NaN,NaN,NaN,NaN,NaN
29,2013-06-30,867224107,SUNCOR ENERGY INC NEW,524021,17769457,2013-03-31,29.489984,NaN,NaN,NaN,NaN,NaN
30,2013-06-30,891027104,TORCHMARK CORP,275921,4235818,2013-03-31,65.139956,NaN,NaN,NaN,NaN,NaN
31,2013-06-30,902973304,US BANCORP DEL,2829725,78277301,2013-03-31,36.150007,NaN,NaN,NaN,NaN,NaN
32,2013-06-30,903293405,U S G CORP,393514,17072192,2013-03-31,23.049999,NaN,NaN,NaN,NaN,NaN
33,2013-06-30,911312106,UNITED PARCEL SERVICE INC,5137,59400,2013-03-31,86.481481,NaN,NaN,NaN,NaN,NaN
34,2013-06-30,92343E102,VERISIGN INC,486679,10897420,2013-03-31,44.660020,NaN,NaN,NaN,NaN,NaN
35,2013-06-30,92345Y106,VERISK ANALYTICS INC,93337,1563434,2013-03-31,59.699994,NaN,NaN,NaN,NaN,NaN
36,2013-06-30,92553P201,VIACOM INC NEW,517518,7607200,2013-03-31,68.030024,NaN,NaN,NaN,NaN,NaN
37,2013-06-30,92826C839,VISA INC,284260,1555459,2013-03-31,182.749915,NaN,NaN,NaN,NaN,NaN
38,2013-06-30,92927K102,WABCO HLDGS INC,304461,4076325,2013-03-31,74.690070,NaN,NaN,NaN,NaN,NaN
39,2013-06-30,931142103,WAL MART STORES INC,3668426,49247235,2013-03-31,74.489989,NaN,NaN,NaN,NaN,NaN
40,2013-06-30,939640108,WASHINGTON POST CO,835840,1727765,2013-03-31,483.769494,NaN,NaN,NaN,NaN,NaN
41,2013-06-30,949746101,WELLS FARGO & CO NEW,19113442,463131623,2013-03-31,41.270000,NaN,NaN,NaN,NaN,NaN
42,2013-09-30,025816109,AMERICAN EXPRESS CO,11449640,151610700,2013-06-30,75.520000,2013-06-30,11334417.0,151610700.0,2013-03-31,74.760007
43,2013-09-30,064058100,BANK OF NEW YORK MELLON CORP,744269,24652836,2013-06-30,30.189995,2013-06-30,691264.0,24644029.0,2013-03-31,28.049959
44,2013-09-30,167250109,CHICAGO BRIDGE & IRON CO N V,647254,9550755,2013-06-30,67.769930,2013-06-30,569798.0,9550755.0,2013-03-31,59.659995
45,2013-09-30,191216100,COCA COLA CO,15152001,400000000,2013-06-30,37.880003,2013-06-30,16044001.0,400000000.0,2013-03-31,40.110003
46,2013-09-30,20825C104,CONOCOPHILLIPS,940419,13529270,2013-06-30,69.509959,2013-06-30,1459497.0,24123911.0,2013-03-31,60.500016
47,2013-09-30,22160K105,COSTCO WHSL CORP NEW,499073,4333363,2013-06-30,115.169904,2013-06-30,479140.0,4333363.0,2013-03-31,110.570012
48,2013-09-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1789325,31446830,2013-06-30,56.900012,2013-06-30,1808848.0,14973906.0,2013-03-31,120.800010
49,2013-09-30,244199105,DEERE & CO,323832,3978767,2013-06-30,81.390039,2013-06-30,323275.0,3978767.0,2013-03-31,81.250046

In [242]:
joindf["mval_c"] = joindf["mval_c"] * 1000
joindf["mval_p"] = joindf["mval_p"] * 1000

In [243]:
joindf["cmval"] = joindf["mval_c"] - joindf["mval_p"]

In [244]:
joindf["cshares"] = joindf["shares_c"] - joindf["shares_p"]

In [245]:
joindf.head(50)

,file_date_c,cusip,name,mval_c,shares_c,prior_qtr_c,price_c,file_date_p,mval_p,shares_p,prior_qtr_p,price_p,cmval,cshares
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417000,151610700,2013-03-31,74.760007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264000,24644029,2013-03-31,28.049959,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798000,9550755,2013-03-31,59.659995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001000,400000000,2013-03-31,40.110003,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497000,24123911,2013-03-31,60.500016,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2013-06-30,22160K105,COSTCO WHSL CORP NEW,479140000,4333363,2013-03-31,110.570012,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1808848000,14973906,2013-03-31,120.800010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2013-06-30,244199105,DEERE & CO,323275000,3978767,2013-03-31,81.250046,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2013-06-30,25470M109,DISH NETWORK CORP,23272000,547312,2013-03-31,42.520537,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2013-06-30,25490A309,DIRECTV,2297655000,37275400,2013-03-31,61.639982,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2013-06-30,369604103,GENERAL ELECTRIC CO,13657000,588900,2013-03-31,23.190695,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2013-06-30,37045V100,GENERAL MTRS CO,1332400000,40000000,2013-03-31,33.310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2013-06-30,37733W105,GLAXOSMITHKLINE PLC,73757000,1476021,2013-03-31,49.970156,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13018792000,68121984,2013-03-31,191.109995,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2013-06-30,478160104,JOHNSON & JOHNSON,28085000,327100,2013-03-31,85.860593,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2013-06-30,50076Q106,KRAFT FOODS GROUP INC,10764000,192666,2013-03-31,55.868705,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2013-06-30,523768109,LEE ENTERPRISES INC,181000,88863,2013-03-31,2.036843,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,2013-06-30,531229102,LIBERTY MEDIA CORP DELAWARE,712688000,5622340,2013-03-31,126.760032,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2013-06-30,55261F104,M & T BK CORP,601444000,5382040,2013-03-31,111.750191,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-06-30,57636Q104,MASTERCARD INC,232673000,405000,2013-03-31,574.501235,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2013-06-30,584404107,MEDIA GEN INC,51248000,4646220,2013-03-31,11.030042,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,2013-06-30,609207105,MONDELEZ INTL INC,16490000,578000,2013-03-31,28.529412,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,2013-06-30,615369105,MOODYS CORP,1518508000,24922178,2013-03-31,60.929988,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,2013-06-30,637071101,NATIONAL OILWELL VARCO INC,611832000,8880000,2013-03-31,68.900000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2013-06-30,718546104,PHILLIPS 66,1600226000,27163918,2013-03-31,58.909985,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,2013-06-30,740189105,PRECISION CASTPARTS CORP,446898000,1977336,2013-03-31,226.010147,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,2013-06-30,742718109,PROCTER & GAMBLE CO,4064539000,52793078,2013-03-31,76.989999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,2013-06-30,80105N105,SANOFI,209321000,4063675,2013-03-31,51.510271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,2013-06-30,85571Q102,STARZ,124254000,5622340,2013-03-31,22.100051,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,2013-06-30,867224107,SUNCOR ENERGY INC NEW,524021000,17769457,2013-03-31,29.489984,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,2013-06-30,891027104,TORCHMARK CORP,275921000,4235818,2013-03-31,65.139956,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,2013-06-30,902973304,US BANCORP DEL,2829725000,78277301,2013-03-31,36.150007,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,2013-06-30,903293405,U S G CORP,393514000,17072192,2013-03-31,23.049999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,2013-06-30,911312106,UNITED PARCEL SERVICE INC,5137000,59400,2013-03-31,86.481481,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2013-06-30,92343E102,VERISIGN INC,486679000,10897420,2013-03-31,44.660020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,2013-06-30,92345Y106,VERISK ANALYTICS INC,93337000,1563434,2013-03-31,59.699994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,2013-06-30,92553P201,VIACOM INC NEW,517518000,7607200,2013-03-31,68.030024,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2013-06-30,92826C839,VISA INC,284260000,1555459,2013-03-31,182.749915,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,2013-06-30,92927K102,WABCO HLDGS INC,304461000,4076325,2013-03-31,74.690070,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2013-06-30,931142103,WAL MART STORES INC,3668426000,49247235,2013-03-31,74.489989,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,2013-06-30,939640108,WASHINGTON POST CO,835840000,1727765,2013-03-31,483.769494,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,2013-06-30,949746101,WELLS FARGO & CO NEW,19113442000,463131623,2013-03-31,41.270000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,2013-09-30,025816109,AMERICAN EXPRESS CO,11449640000,151610700,2013-06-30,75.520000,2013-06-30,1.133442e+10,151610700.0,2013-03-31,74.760007,115223000.0,0.0
43,2013-09-30,064058100,BANK OF NEW YORK MELLON CORP,744269000,24652836,2013-06-30,30.189995,2013-06-30,6.912640e+08,24644029.0,2013-03-31,28.049959,53005000.0,8807.0
44,2013-09-30,167250109,CHICAGO BRIDGE & IRON CO N V,647254000,9550755,2013-06-30,67.769930,2013-06-30,5.697980e+08,9550755.0,2013-03-31,59.659995,77456000.0,0.0
45,2013-09-30,191216100,COCA COLA CO,15152001000,400000000,2013-06-30,37.880003,2013-06-30,1.604400e+10,400000000.0,2013-03-31,40.110003,-892000000.0,0.0
46,2013-09-30,20825C104,CONOCOPHILLIPS,940419000,13529270,2013-06-30,69.509959,2013-06-30,1.459497e+09,24123911.0,2013-03-31,60.500016,-519078000.0,-10594641.0
47,2013-09-30,22160K105,COSTCO WHSL CORP NEW,499073000,4333363,2013-06-30,115.169904,2013-06-30,4.791400e+08,4333363.0,2013-03-31,110.570012,19933000.0,0.0
48,2013-09-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1789325000,31446830,2013-06-30,56.900012,2013-06-30,1.808848e+09,14973906.0,2013-03-31,120.800010,-19523000.0,16472924.0
49,2013-09-30,244199105,DEERE & CO,323832000,3978767,2013-06-30,81.390039,2013-06-30,3.232750e+08,3978767.0,2013-03-31,81.250046,557000.0,0.0

In [246]:
finaldf = joindf[["file_date_c", "cusip", "name", "mval_c", "shares_c", "cmval", "cshares", "price_c", "file_date_p","price_p"]].copy()
finaldf.rename(columns = {"file_date_c":"file_date", "mval_c":"mval", "shares_c":"shares", "price_c": "price", "file_date_p":"prior_file_date", "price_p":"prior_price"}, inplace=True)
finaldf.head()

,file_date,cusip,name,mval,shares,cmval,cshares,price,prior_file_date,prior_price
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417000,151610700,NaN,NaN,74.760007,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264000,24644029,NaN,NaN,28.049959,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798000,9550755,NaN,NaN,59.659995,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001000,400000000,NaN,NaN,40.110003,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497000,24123911,NaN,NaN,60.500016,NaN,NaN

In [247]:
class Processed_Positions(Base):
    __tablename__ = 'processed_positions'
    __table_args__ = {'extend_existing': True} 
    id = Column(Integer, primary_key=True)
    file_date = Column(Text)
    name = Column(Text)
    cusip = Column(Text)
    mval = Column(Integer)
    cmval = Column(Integer)
    shares = Column (Integer)
    cshares = Column(Integer)
    price = Column(Float)
    prior_file_date = Column(Text)
    prior_price = Column(Float)
    
    def __repr__(self):
        return f"file_date={self.file_date}, name={self.name}, cusip={self.cusip}, mval={self.mval}, shares={self.shares}, cmval={self.cmval}, cshares={self.cshares}, price={self.price} prior_file_date = {self.prior_file_date}, prior_price = {self.prior_price}"

In [248]:
# Use `create_all` to create the positions table in the database
Base.metadata.create_all(engine)

In [249]:
# Use MetaData from SQLAlchemy to reflect the tables\n",
metadata = MetaData(bind=engine)
metadata.reflect()

In [250]:
# Save the reference to the `processed_positions` table as a variable called `table`
table = sqlalchemy.Table('processed_positions', metadata, autoload=True)

In [251]:
# Use `table.delete()` to remove any existing data.
conn.execute(table.delete())

In [252]:
data = finaldf.to_dict(orient='records')
conn.execute(table.insert(), data)

In [253]:
conn.execute("select * from processed_positions limit 50").fetchall()

[(1, '2013-06-30', 'AMERICAN EXPRESS CO', '025816109', 11334417000, None, 151610700, None, 74.76000704435769, None, None),
 (2, '2013-06-30', 'BANK OF NEW YORK MELLON CORP', '064058100', 691264000, None, 24644029, None, 28.04995887644833, None, None),
 (3, '2013-06-30', 'CHICAGO BRIDGE & IRON CO N V', '167250109', 569798000, None, 9550755, None, 59.65999546632701, None, None),
 (4, '2013-06-30', 'COCA COLA CO', '191216100', 16044001000, None, 400000000, None, 40.1100025, None, None),
 (5, '2013-06-30', 'CONOCOPHILLIPS', '20825C104', 1459497000, None, 24123911, None, 60.5000159385433, None, None),
 (6, '2013-06-30', 'COSTCO WHSL CORP NEW', '22160K105', 479140000, None, 4333363, None, 110.57001225145459, None, None),
 (7, '2013-06-30', 'DAVITA HEALTHCARE PARTNERS I', '23918K108', 1808848000, None, 14973906, None, 120.80001036469709, None, None),
 (8, '2013-06-30', 'DEERE & CO', '244199105', 323275000, None, 3978767, None, 81.25004555431369, None, None),
 (9, '2013-06-30', 'DISH NETWORK CORP', '25470M109', 23272000, None, 547312, None, 42.520536732247784, None, None),
 (10, '2013-06-30', 'DIRECTV', '25490A309', 2297655000, None, 37275400, None, 61.63998240126196, None, None),
 (11, '2013-06-30', 'GENERAL ELECTRIC CO', '369604103', 13657000, None, 588900, None, 23.190694515197826, None, None),
 (12, '2013-06-30', 'GENERAL MTRS CO', '37045V100', 1332400000, None, 40000000, None, 33.31, None, None),
 (13, '2013-06-30', 'GLAXOSMITHKLINE PLC', '37733W105', 73757000, None, 1476021, None, 49.97015625116445, None, None),
 (14, '2013-06-30', 'INTERNATIONAL BUSINESS MACHS', '459200101', 13018792000, None, 68121984, None, 191.1099946824802, None, None),
 (15, '2013-06-30', 'JOHNSON & JOHNSON', '478160104', 28085000, None, 327100, None, 85.86059309079792, None, None),
 (16, '2013-06-30', 'KRAFT FOODS GROUP INC', '50076Q106', 10764000, None, 192666, None, 55.86870542804646, None, None),
 (17, '2013-06-30', 'LEE ENTERPRISES INC', '523768109', 181000, None, 88863, None, 2.0368432305909097, None, None),
 (18, '2013-06-30', 'LIBERTY MEDIA CORP DELAWARE', '531229102', 712688000, None, 5622340, None, 126.76003229971862, None, None),
 (19, '2013-06-30', 'M & T BK CORP', '55261F104', 601444000, None, 5382040, None, 111.75019137724729, None, None),
 (20, '2013-06-30', 'MASTERCARD INC', '57636Q104', 232673000, None, 405000, None, 574.5012345679012, None, None),
 (21, '2013-06-30', 'MEDIA GEN INC', '584404107', 51248000, None, 4646220, None, 11.030041625235137, None, None),
 (22, '2013-06-30', 'MONDELEZ INTL INC', '609207105', 16490000, None, 578000, None, 28.529411764705884, None, None),
 (23, '2013-06-30', 'MOODYS CORP', '615369105', 1518508000, None, 24922178, None, 60.929987740236825, None, None),
 (24, '2013-06-30', 'NATIONAL OILWELL VARCO INC', '637071101', 611832000, None, 8880000, None, 68.9, None, None),
 (25, '2013-06-30', 'PHILLIPS 66', '718546104', 1600226000, None, 27163918, None, 58.909984929272724, None, None),
 (26, '2013-06-30', 'PRECISION CASTPARTS CORP', '740189105', 446898000, None, 1977336, None, 226.01014698564128, None, None),
 (27, '2013-06-30', 'PROCTER & GAMBLE CO', '742718109', 4064539000, None, 52793078, None, 76.989998575192, None, None),
 (28, '2013-06-30', 'SANOFI', '80105N105', 209321000, None, 4063675, None, 51.51027087550062, None, None),
 (29, '2013-06-30', 'STARZ', '85571Q102', 124254000, None, 5622340, None, 22.100050868499594, None, None),
 (30, '2013-06-30', 'SUNCOR ENERGY INC NEW', '867224107', 524021000, None, 17769457, None, 29.489983852629823, None, None),
 (31, '2013-06-30', 'TORCHMARK CORP', '891027104', 275921000, None, 4235818, None, 65.13995643816614, None, None),
 (32, '2013-06-30', 'US BANCORP DEL', '902973304', 2829725000, None, 78277301, None, 36.150007267113104, None, None),
 (33, '2013-06-30', 'U S G CORP', '903293405', 393514000, None, 17072192, None, 23.04999850048547, None, None),
 (34, '2013-06-30', 'UNITED PARCEL SERVICE INC', '911312106', 5137000, None, 59400, None, 86.48148148148148, None, None),
 (35, '2013-06-30', 'VERISIGN INC', '92343E102', 486679000, None, 10897420, None, 44.6600204452063, None, None),
 (36, '2013-06-30', 'VERISK ANALYTICS INC', '92345Y106', 93337000, None, 1563434, None, 59.69999373174691, None, None),
 (37, '2013-06-30', 'VIACOM INC NEW', '92553P201', 517518000, None, 7607200, None, 68.03002418761173, None, None),
 (38, '2013-06-30', 'VISA INC', '92826C839', 284260000, None, 1555459, None, 182.74991497686534, None, None),
 (39, '2013-06-30', 'WABCO HLDGS INC', '92927K102', 304461000, None, 4076325, None, 74.69007009990617, None, None),
 (40, '2013-06-30', 'WAL MART STORES INC', '931142103', 3668426000, None, 49247235, None, 74.48998913340007, None, None),
 (41, '2013-06-30', 'WASHINGTON POST CO', '939640108', 835840000, None, 1727765, None, 483.7694941152298, None, None),
 (42, '2013-06-30', 'WELLS FARGO & CO NEW', '949746101', 19113442000, None, 463131623, None, 41.269999824650284, None, None),
 (43, '2013-09-30', 'AMERICAN EXPRESS CO', '025816109', 11449640000, 115223000, 151610700, 0, 75.5199995778662, '2013-06-30', 74.76000704435769),
 (44, '2013-09-30', 'BANK OF NEW YORK MELLON CORP', '064058100', 744269000, 53005000, 24652836, 8807, 30.18999517945927, '2013-06-30', 28.04995887644833),
 (45, '2013-09-30', 'CHICAGO BRIDGE & IRON CO N V', '167250109', 647254000, 77456000, 9550755, 0, 67.7699302306467, '2013-06-30', 59.65999546632701),
 (46, '2013-09-30', 'COCA COLA CO', '191216100', 15152001000, -892000000, 400000000, 0, 37.8800025, '2013-06-30', 40.1100025),
 (47, '2013-09-30', 'CONOCOPHILLIPS', '20825C104', 940419000, -519078000, 13529270, -10594641, 69.50995877826372, '2013-06-30', 60.5000159385433),
 (48, '2013-09-30', 'COSTCO WHSL CORP NEW', '22160K105', 499073000, 19933000, 4333363, 0, 115.1699038368122, '2013-06-30', 110.57001225145459),
 (49, '2013-09-30', 'DAVITA HEALTHCARE PARTNERS I', '23918K108', 1789325000, -19523000, 31446830, 16472924, 56.90001186129095, '2013-06-30', 120.80001036469709),
 (50, '2013-09-30', 'DEERE & CO', '244199105', 323832000, 557000, 3978767, 0, 81.39003867278481, '2013-06-30', 81.25004555431369)]