In [68]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import or_
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

import numpy as np
import pandas as pd

In [2]:
# create an engine to sqlite db
engine = create_engine("sqlite:///sec13f.sqlite")

In [3]:
# Create a connection to the engine called conn
conn = engine.connect()

In [4]:
# Create a session
session = Session(engine)

In [5]:
# Declare a Base using `automap_base()`
Base = automap_base()

In [6]:
# Use the Base class to reflect the database tables
# create classes based on database
Base.prepare(engine, reflect=True)

In [7]:
# Print all of the classes mapped to the Base
Base.classes.keys()

['latest_positions', 'positions', 'securitiesex']

In [10]:
Positions = Base.classes.positions

In [14]:
df = pd.DataFrame(session.query(Positions.file_date, Positions.cusip, Positions.name, Positions.mval, Positions.shares).all())
df.head()

    file_date      cusip                 name     mval    shares
0  2013-06-30  025816109  AMERICAN EXPRESS CO   145942   1952142
1  2013-06-30  025816109  AMERICAN EXPRESS CO  1287771  17225400
2  2013-06-30  025816109  AMERICAN EXPRESS CO    62786    839832
3  2013-06-30  025816109  AMERICAN EXPRESS CO   145266   1943100
4  2013-06-30  025816109  AMERICAN EXPRESS CO   597679   7994634

In [26]:
sumdf = df.groupby(["file_date","cusip","name"], as_index = False).sum()
sumdf.head()

    file_date      cusip                          name      mval     shares
0  2013-06-30  025816109           AMERICAN EXPRESS CO  11334417  151610700
1  2013-06-30  064058100  BANK OF NEW YORK MELLON CORP    691264   24644029
2  2013-06-30  167250109  CHICAGO BRIDGE & IRON CO N V    569798    9550755
3  2013-06-30  191216100                  COCA COLA CO  16044001  400000000
4  2013-06-30  20825C104                CONOCOPHILLIPS   1459497   24123911

In [51]:
def get_prior_quarter(date):
    year = date[0:4]
    mthday = date[5:10]
    if mthday == "03-31":
        prior_date = str(int(year)-1) + "-12-31"
    elif mthday == "06-30":
        prior_date = year + "-03-31"
    elif mthday == "09-30":
        prior_date = year + "-06-30"
    elif mthday == "12-31":
        prior_date = year + "-09-30"
    else:
        prior_date = ""

    return prior_date

In [52]:
get_prior_quarter('2013-06-30')

'2013-03-31'

In [53]:
sumdf["prior_qtr"] = sumdf["file_date"].apply(get_prior_quarter)
sumdf.head()

,file_date,cusip,name,mval,shares,prior_qtr
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,2013-03-31
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,2013-03-31
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,2013-03-31
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,2013-03-31
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,2013-03-31

In [60]:
joindf = pd.merge(sumdf, sumdf, how="left", left_on=["cusip", "name", "prior_qtr"], right_on=["cusip", "name", "file_date"], suffixes =("_c","_p"))
joindf.head(50)

,file_date_c,cusip,name,mval_c,shares_c,prior_qtr_c,file_date_p,mval_p,shares_p,prior_qtr_p
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,2013-03-31,NaN,NaN,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,2013-03-31,NaN,NaN,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,2013-03-31,NaN,NaN,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,2013-03-31,NaN,NaN,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,2013-03-31,NaN,NaN,NaN,NaN
5,2013-06-30,22160K105,COSTCO WHSL CORP NEW,479140,4333363,2013-03-31,NaN,NaN,NaN,NaN
6,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1808848,14973906,2013-03-31,NaN,NaN,NaN,NaN
7,2013-06-30,244199105,DEERE & CO,323275,3978767,2013-03-31,NaN,NaN,NaN,NaN
8,2013-06-30,25470M109,DISH NETWORK CORP,23272,547312,2013-03-31,NaN,NaN,NaN,NaN
9,2013-06-30,25490A309,DIRECTV,2297655,37275400,2013-03-31,NaN,NaN,NaN,NaN
10,2013-06-30,369604103,GENERAL ELECTRIC CO,13657,588900,2013-03-31,NaN,NaN,NaN,NaN
11,2013-06-30,37045V100,GENERAL MTRS CO,1332400,40000000,2013-03-31,NaN,NaN,NaN,NaN
12,2013-06-30,37733W105,GLAXOSMITHKLINE PLC,73757,1476021,2013-03-31,NaN,NaN,NaN,NaN
13,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13018792,68121984,2013-03-31,NaN,NaN,NaN,NaN
14,2013-06-30,478160104,JOHNSON & JOHNSON,28085,327100,2013-03-31,NaN,NaN,NaN,NaN
15,2013-06-30,50076Q106,KRAFT FOODS GROUP INC,10764,192666,2013-03-31,NaN,NaN,NaN,NaN
16,2013-06-30,523768109,LEE ENTERPRISES INC,181,88863,2013-03-31,NaN,NaN,NaN,NaN
17,2013-06-30,531229102,LIBERTY MEDIA CORP DELAWARE,712688,5622340,2013-03-31,NaN,NaN,NaN,NaN
18,2013-06-30,55261F104,M & T BK CORP,601444,5382040,2013-03-31,NaN,NaN,NaN,NaN
19,2013-06-30,57636Q104,MASTERCARD INC,232673,405000,2013-03-31,NaN,NaN,NaN,NaN
20,2013-06-30,584404107,MEDIA GEN INC,51248,4646220,2013-03-31,NaN,NaN,NaN,NaN
21,2013-06-30,609207105,MONDELEZ INTL INC,16490,578000,2013-03-31,NaN,NaN,NaN,NaN
22,2013-06-30,615369105,MOODYS CORP,1518508,24922178,2013-03-31,NaN,NaN,NaN,NaN
23,2013-06-30,637071101,NATIONAL OILWELL VARCO INC,611832,8880000,2013-03-31,NaN,NaN,NaN,NaN
24,2013-06-30,718546104,PHILLIPS 66,1600226,27163918,2013-03-31,NaN,NaN,NaN,NaN
25,2013-06-30,740189105,PRECISION CASTPARTS CORP,446898,1977336,2013-03-31,NaN,NaN,NaN,NaN
26,2013-06-30,742718109,PROCTER & GAMBLE CO,4064539,52793078,2013-03-31,NaN,NaN,NaN,NaN
27,2013-06-30,80105N105,SANOFI,209321,4063675,2013-03-31,NaN,NaN,NaN,NaN
28,2013-06-30,85571Q102,STARZ,124254,5622340,2013-03-31,NaN,NaN,NaN,NaN
29,2013-06-30,867224107,SUNCOR ENERGY INC NEW,524021,17769457,2013-03-31,NaN,NaN,NaN,NaN
30,2013-06-30,891027104,TORCHMARK CORP,275921,4235818,2013-03-31,NaN,NaN,NaN,NaN
31,2013-06-30,902973304,US BANCORP DEL,2829725,78277301,2013-03-31,NaN,NaN,NaN,NaN
32,2013-06-30,903293405,U S G CORP,393514,17072192,2013-03-31,NaN,NaN,NaN,NaN
33,2013-06-30,911312106,UNITED PARCEL SERVICE INC,5137,59400,2013-03-31,NaN,NaN,NaN,NaN
34,2013-06-30,92343E102,VERISIGN INC,486679,10897420,2013-03-31,NaN,NaN,NaN,NaN
35,2013-06-30,92345Y106,VERISK ANALYTICS INC,93337,1563434,2013-03-31,NaN,NaN,NaN,NaN
36,2013-06-30,92553P201,VIACOM INC NEW,517518,7607200,2013-03-31,NaN,NaN,NaN,NaN
37,2013-06-30,92826C839,VISA INC,284260,1555459,2013-03-31,NaN,NaN,NaN,NaN
38,2013-06-30,92927K102,WABCO HLDGS INC,304461,4076325,2013-03-31,NaN,NaN,NaN,NaN
39,2013-06-30,931142103,WAL MART STORES INC,3668426,49247235,2013-03-31,NaN,NaN,NaN,NaN
40,2013-06-30,939640108,WASHINGTON POST CO,835840,1727765,2013-03-31,NaN,NaN,NaN,NaN
41,2013-06-30,949746101,WELLS FARGO & CO NEW,19113442,463131623,2013-03-31,NaN,NaN,NaN,NaN
42,2013-09-30,025816109,AMERICAN EXPRESS CO,11449640,151610700,2013-06-30,2013-06-30,11334417.0,151610700.0,2013-03-31
43,2013-09-30,064058100,BANK OF NEW YORK MELLON CORP,744269,24652836,2013-06-30,2013-06-30,691264.0,24644029.0,2013-03-31
44,2013-09-30,167250109,CHICAGO BRIDGE & IRON CO N V,647254,9550755,2013-06-30,2013-06-30,569798.0,9550755.0,2013-03-31
45,2013-09-30,191216100,COCA COLA CO,15152001,400000000,2013-06-30,2013-06-30,16044001.0,400000000.0,2013-03-31
46,2013-09-30,20825C104,CONOCOPHILLIPS,940419,13529270,2013-06-30,2013-06-30,1459497.0,24123911.0,2013-03-31
47,2013-09-30,22160K105,COSTCO WHSL CORP NEW,499073,4333363,2013-06-30,2013-06-30,479140.0,4333363.0,2013-03-31
48,2013-09-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1789325,31446830,2013-06-30,2013-06-30,1808848.0,14973906.0,2013-03-31
49,2013-09-30,244199105,DEERE & CO,323832,3978767,2013-06-30,2013-06-30,323275.0,3978767.0,2013-03-31

In [64]:
joindf["cmval"] = joindf["mval_c"] - joindf["mval_p"]

In [65]:
joindf["cshares"] = joindf["shares_c"] - joindf["shares_p"]

In [66]:
joindf.head(50)

,file_date_c,cusip,name,mval_c,shares_c,prior_qtr_c,file_date_p,mval_p,shares_p,prior_qtr_p,cmval,cshares
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
5,2013-06-30,22160K105,COSTCO WHSL CORP NEW,479140,4333363,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
6,2013-06-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1808848,14973906,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
7,2013-06-30,244199105,DEERE & CO,323275,3978767,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
8,2013-06-30,25470M109,DISH NETWORK CORP,23272,547312,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
9,2013-06-30,25490A309,DIRECTV,2297655,37275400,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
10,2013-06-30,369604103,GENERAL ELECTRIC CO,13657,588900,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
11,2013-06-30,37045V100,GENERAL MTRS CO,1332400,40000000,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
12,2013-06-30,37733W105,GLAXOSMITHKLINE PLC,73757,1476021,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
13,2013-06-30,459200101,INTERNATIONAL BUSINESS MACHS,13018792,68121984,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
14,2013-06-30,478160104,JOHNSON & JOHNSON,28085,327100,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
15,2013-06-30,50076Q106,KRAFT FOODS GROUP INC,10764,192666,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
16,2013-06-30,523768109,LEE ENTERPRISES INC,181,88863,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
17,2013-06-30,531229102,LIBERTY MEDIA CORP DELAWARE,712688,5622340,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
18,2013-06-30,55261F104,M & T BK CORP,601444,5382040,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
19,2013-06-30,57636Q104,MASTERCARD INC,232673,405000,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
20,2013-06-30,584404107,MEDIA GEN INC,51248,4646220,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
21,2013-06-30,609207105,MONDELEZ INTL INC,16490,578000,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
22,2013-06-30,615369105,MOODYS CORP,1518508,24922178,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
23,2013-06-30,637071101,NATIONAL OILWELL VARCO INC,611832,8880000,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
24,2013-06-30,718546104,PHILLIPS 66,1600226,27163918,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
25,2013-06-30,740189105,PRECISION CASTPARTS CORP,446898,1977336,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
26,2013-06-30,742718109,PROCTER & GAMBLE CO,4064539,52793078,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
27,2013-06-30,80105N105,SANOFI,209321,4063675,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
28,2013-06-30,85571Q102,STARZ,124254,5622340,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
29,2013-06-30,867224107,SUNCOR ENERGY INC NEW,524021,17769457,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
30,2013-06-30,891027104,TORCHMARK CORP,275921,4235818,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
31,2013-06-30,902973304,US BANCORP DEL,2829725,78277301,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
32,2013-06-30,903293405,U S G CORP,393514,17072192,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
33,2013-06-30,911312106,UNITED PARCEL SERVICE INC,5137,59400,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
34,2013-06-30,92343E102,VERISIGN INC,486679,10897420,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
35,2013-06-30,92345Y106,VERISK ANALYTICS INC,93337,1563434,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
36,2013-06-30,92553P201,VIACOM INC NEW,517518,7607200,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
37,2013-06-30,92826C839,VISA INC,284260,1555459,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
38,2013-06-30,92927K102,WABCO HLDGS INC,304461,4076325,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
39,2013-06-30,931142103,WAL MART STORES INC,3668426,49247235,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
40,2013-06-30,939640108,WASHINGTON POST CO,835840,1727765,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
41,2013-06-30,949746101,WELLS FARGO & CO NEW,19113442,463131623,2013-03-31,NaN,NaN,NaN,NaN,NaN,NaN
42,2013-09-30,025816109,AMERICAN EXPRESS CO,11449640,151610700,2013-06-30,2013-06-30,11334417.0,151610700.0,2013-03-31,115223.0,0.0
43,2013-09-30,064058100,BANK OF NEW YORK MELLON CORP,744269,24652836,2013-06-30,2013-06-30,691264.0,24644029.0,2013-03-31,53005.0,8807.0
44,2013-09-30,167250109,CHICAGO BRIDGE & IRON CO N V,647254,9550755,2013-06-30,2013-06-30,569798.0,9550755.0,2013-03-31,77456.0,0.0
45,2013-09-30,191216100,COCA COLA CO,15152001,400000000,2013-06-30,2013-06-30,16044001.0,400000000.0,2013-03-31,-892000.0,0.0
46,2013-09-30,20825C104,CONOCOPHILLIPS,940419,13529270,2013-06-30,2013-06-30,1459497.0,24123911.0,2013-03-31,-519078.0,-10594641.0
47,2013-09-30,22160K105,COSTCO WHSL CORP NEW,499073,4333363,2013-06-30,2013-06-30,479140.0,4333363.0,2013-03-31,19933.0,0.0
48,2013-09-30,23918K108,DAVITA HEALTHCARE PARTNERS I,1789325,31446830,2013-06-30,2013-06-30,1808848.0,14973906.0,2013-03-31,-19523.0,16472924.0
49,2013-09-30,244199105,DEERE & CO,323832,3978767,2013-06-30,2013-06-30,323275.0,3978767.0,2013-03-31,557.0,0.0

In [84]:
finaldf = joindf[["file_date_c", "cusip", "name", "mval_c", "shares_c", "cmval", "cshares"]].copy()
finaldf.rename(columns = {"file_date_c":"file_date", "mval_c":"mval", "shares_c":"shares"}, inplace=True)
finaldf.head()

,file_date,cusip,name,mval,shares,cmval,cshares
0,2013-06-30,025816109,AMERICAN EXPRESS CO,11334417,151610700,NaN,NaN
1,2013-06-30,064058100,BANK OF NEW YORK MELLON CORP,691264,24644029,NaN,NaN
2,2013-06-30,167250109,CHICAGO BRIDGE & IRON CO N V,569798,9550755,NaN,NaN
3,2013-06-30,191216100,COCA COLA CO,16044001,400000000,NaN,NaN
4,2013-06-30,20825C104,CONOCOPHILLIPS,1459497,24123911,NaN,NaN

In [86]:
class Processed_Positions(Base):
    __tablename__ = 'processed_positions'
    __table_args__ = {'extend_existing': True} 
    id = Column(Integer, primary_key=True)
    file_date = Column(Text)
    name = Column(Text)
    cusip = Column(Text)
    mval = Column(Integer)
    cmval = Column(Integer)
    shares = Column (Integer)
    cshares = Column(Integer)
    
    def __repr__(self):
        return f"file_date={self.file_date}, name={self.name}, cusip={self.cusip}, mval={self.mval}, shares={self.shares}, cmval={self.cmval}, cshares={self.cshares}"

C:\ProgramData\Anaconda3\lib\site-packages\sqlalchemy\ext\declarative\clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.Processed_Positions, and will be replaced in the string-lookup table.
  item.__name__

In [70]:
# Use `create_all` to create the positions table in the database
Base.metadata.create_all(engine)

In [71]:
# Use MetaData from SQLAlchemy to reflect the tables\n",
metadata = MetaData(bind=engine)
metadata.reflect()

In [87]:
# Save the reference to the `processed_positions` table as a variable called `table`
table = sqlalchemy.Table('processed_positions', metadata, autoload=True)

In [88]:
# Use `table.delete()` to remove any existing data.
conn.execute(table.delete())

In [89]:
data = finaldf.to_dict(orient='records')
conn.execute(table.insert(), data)

In [90]:
conn.execute("select * from processed_positions limit 50").fetchall()

[(1, '2013-06-30', 'AMERICAN EXPRESS CO', '025816109', 11334417, None, 151610700, None),
 (2, '2013-06-30', 'BANK OF NEW YORK MELLON CORP', '064058100', 691264, None, 24644029, None),
 (3, '2013-06-30', 'CHICAGO BRIDGE & IRON CO N V', '167250109', 569798, None, 9550755, None),
 (4, '2013-06-30', 'COCA COLA CO', '191216100', 16044001, None, 400000000, None),
 (5, '2013-06-30', 'CONOCOPHILLIPS', '20825C104', 1459497, None, 24123911, None),
 (6, '2013-06-30', 'COSTCO WHSL CORP NEW', '22160K105', 479140, None, 4333363, None),
 (7, '2013-06-30', 'DAVITA HEALTHCARE PARTNERS I', '23918K108', 1808848, None, 14973906, None),
 (8, '2013-06-30', 'DEERE & CO', '244199105', 323275, None, 3978767, None),
 (9, '2013-06-30', 'DISH NETWORK CORP', '25470M109', 23272, None, 547312, None),
 (10, '2013-06-30', 'DIRECTV', '25490A309', 2297655, None, 37275400, None),
 (11, '2013-06-30', 'GENERAL ELECTRIC CO', '369604103', 13657, None, 588900, None),
 (12, '2013-06-30', 'GENERAL MTRS CO', '37045V100', 1332400, None, 40000000, None),
 (13, '2013-06-30', 'GLAXOSMITHKLINE PLC', '37733W105', 73757, None, 1476021, None),
 (14, '2013-06-30', 'INTERNATIONAL BUSINESS MACHS', '459200101', 13018792, None, 68121984, None),
 (15, '2013-06-30', 'JOHNSON & JOHNSON', '478160104', 28085, None, 327100, None),
 (16, '2013-06-30', 'KRAFT FOODS GROUP INC', '50076Q106', 10764, None, 192666, None),
 (17, '2013-06-30', 'LEE ENTERPRISES INC', '523768109', 181, None, 88863, None),
 (18, '2013-06-30', 'LIBERTY MEDIA CORP DELAWARE', '531229102', 712688, None, 5622340, None),
 (19, '2013-06-30', 'M & T BK CORP', '55261F104', 601444, None, 5382040, None),
 (20, '2013-06-30', 'MASTERCARD INC', '57636Q104', 232673, None, 405000, None),
 (21, '2013-06-30', 'MEDIA GEN INC', '584404107', 51248, None, 4646220, None),
 (22, '2013-06-30', 'MONDELEZ INTL INC', '609207105', 16490, None, 578000, None),
 (23, '2013-06-30', 'MOODYS CORP', '615369105', 1518508, None, 24922178, None),
 (24, '2013-06-30', 'NATIONAL OILWELL VARCO INC', '637071101', 611832, None, 8880000, None),
 (25, '2013-06-30', 'PHILLIPS 66', '718546104', 1600226, None, 27163918, None),
 (26, '2013-06-30', 'PRECISION CASTPARTS CORP', '740189105', 446898, None, 1977336, None),
 (27, '2013-06-30', 'PROCTER & GAMBLE CO', '742718109', 4064539, None, 52793078, None),
 (28, '2013-06-30', 'SANOFI', '80105N105', 209321, None, 4063675, None),
 (29, '2013-06-30', 'STARZ', '85571Q102', 124254, None, 5622340, None),
 (30, '2013-06-30', 'SUNCOR ENERGY INC NEW', '867224107', 524021, None, 17769457, None),
 (31, '2013-06-30', 'TORCHMARK CORP', '891027104', 275921, None, 4235818, None),
 (32, '2013-06-30', 'US BANCORP DEL', '902973304', 2829725, None, 78277301, None),
 (33, '2013-06-30', 'U S G CORP', '903293405', 393514, None, 17072192, None),
 (34, '2013-06-30', 'UNITED PARCEL SERVICE INC', '911312106', 5137, None, 59400, None),
 (35, '2013-06-30', 'VERISIGN INC', '92343E102', 486679, None, 10897420, None),
 (36, '2013-06-30', 'VERISK ANALYTICS INC', '92345Y106', 93337, None, 1563434, None),
 (37, '2013-06-30', 'VIACOM INC NEW', '92553P201', 517518, None, 7607200, None),
 (38, '2013-06-30', 'VISA INC', '92826C839', 284260, None, 1555459, None),
 (39, '2013-06-30', 'WABCO HLDGS INC', '92927K102', 304461, None, 4076325, None),
 (40, '2013-06-30', 'WAL MART STORES INC', '931142103', 3668426, None, 49247235, None),
 (41, '2013-06-30', 'WASHINGTON POST CO', '939640108', 835840, None, 1727765, None),
 (42, '2013-06-30', 'WELLS FARGO & CO NEW', '949746101', 19113442, None, 463131623, None),
 (43, '2013-09-30', 'AMERICAN EXPRESS CO', '025816109', 11449640, 115223, 151610700, 0),
 (44, '2013-09-30', 'BANK OF NEW YORK MELLON CORP', '064058100', 744269, 53005, 24652836, 8807),
 (45, '2013-09-30', 'CHICAGO BRIDGE & IRON CO N V', '167250109', 647254, 77456, 9550755, 0),
 (46, '2013-09-30', 'COCA COLA CO', '191216100', 15152001, -892000, 400000000, 0),
 (47, '2013-09-30', 'CONOCOPHILLIPS', '20825C104', 940419, -519078, 13529270, -10594641),
 (48, '2013-09-30', 'COSTCO WHSL CORP NEW', '22160K105', 499073, 19933, 4333363, 0),
 (49, '2013-09-30', 'DAVITA HEALTHCARE PARTNERS I', '23918K108', 1789325, -19523, 31446830, 16472924),
 (50, '2013-09-30', 'DEERE & CO', '244199105', 323832, 557, 3978767, 0)]