In [32]:
import pandas as pd
import numpy as np
import os
from config import *

In [33]:
csvfile = "./cshares.csv"
df = pd.read_csv(csvfile,dtype=object)
df.head()

,Unnamed: 0,file_date,name,ticker,mval,cmval,shares,cshares,price,price2
0,340,2013-09-30,BANK OF NEW YORK MELLON CORP,BK,744269000.0,53005000.0,24652836.0,8807.0,30.1899951794593,34.94
1,631,2013-09-30,DAVITA HEALTHCARE PARTNERS I,DVA,1789325000.0,-19523000.0,31446830.0,16472924.0,56.9000118612909,63.37
2,533,2013-09-30,SUNCOR ENERGY INC NEW,SU,644396000.0,120375000.0,18009957.0,240500.0,35.7799854824751,35.05
3,344,2013-09-30,US BANCORP DEL,USB,2894119000.0,64394000.0,79117501.0,840200.0,36.580010281164,40.4
4,684,2013-09-30,VERISIGN INC,VRSN,557832000.0,71153000.0,10961520.0,64100.0,50.8900225516169,59.78

In [34]:
df.price = df.price.astype(float)
df.price2 = df.price2.astype(float)
df['cprice']=df.price2-df.price

In [35]:
df.head()

,Unnamed: 0,file_date,name,ticker,mval,cmval,shares,cshares,price,price2,cprice
0,340,2013-09-30,BANK OF NEW YORK MELLON CORP,BK,744269000.0,53005000.0,24652836.0,8807.0,30.189995,34.94,4.750005
1,631,2013-09-30,DAVITA HEALTHCARE PARTNERS I,DVA,1789325000.0,-19523000.0,31446830.0,16472924.0,56.900012,63.37,6.469988
2,533,2013-09-30,SUNCOR ENERGY INC NEW,SU,644396000.0,120375000.0,18009957.0,240500.0,35.779985,35.05,-0.729985
3,344,2013-09-30,US BANCORP DEL,USB,2894119000.0,64394000.0,79117501.0,840200.0,36.580010,40.40,3.819990
4,684,2013-09-30,VERISIGN INC,VRSN,557832000.0,71153000.0,10961520.0,64100.0,50.890023,59.78,8.889977

In [36]:
shares = 100
df['cost'] = 100 * df.price
df.head()

,Unnamed: 0,file_date,name,ticker,mval,cmval,shares,cshares,price,price2,cprice,cost
0,340,2013-09-30,BANK OF NEW YORK MELLON CORP,BK,744269000.0,53005000.0,24652836.0,8807.0,30.189995,34.94,4.750005,3018.999518
1,631,2013-09-30,DAVITA HEALTHCARE PARTNERS I,DVA,1789325000.0,-19523000.0,31446830.0,16472924.0,56.900012,63.37,6.469988,5690.001186
2,533,2013-09-30,SUNCOR ENERGY INC NEW,SU,644396000.0,120375000.0,18009957.0,240500.0,35.779985,35.05,-0.729985,3577.998548
3,344,2013-09-30,US BANCORP DEL,USB,2894119000.0,64394000.0,79117501.0,840200.0,36.580010,40.40,3.819990,3658.001028
4,684,2013-09-30,VERISIGN INC,VRSN,557832000.0,71153000.0,10961520.0,64100.0,50.890023,59.78,8.889977,5089.002255

In [37]:
df['gains'] = shares * (df.cprice)
df.head()

,Unnamed: 0,file_date,name,ticker,mval,cmval,shares,cshares,price,price2,cprice,cost,gains
0,340,2013-09-30,BANK OF NEW YORK MELLON CORP,BK,744269000.0,53005000.0,24652836.0,8807.0,30.189995,34.94,4.750005,3018.999518,475.000482
1,631,2013-09-30,DAVITA HEALTHCARE PARTNERS I,DVA,1789325000.0,-19523000.0,31446830.0,16472924.0,56.900012,63.37,6.469988,5690.001186,646.998814
2,533,2013-09-30,SUNCOR ENERGY INC NEW,SU,644396000.0,120375000.0,18009957.0,240500.0,35.779985,35.05,-0.729985,3577.998548,-72.998548
3,344,2013-09-30,US BANCORP DEL,USB,2894119000.0,64394000.0,79117501.0,840200.0,36.580010,40.40,3.819990,3658.001028,381.998972
4,684,2013-09-30,VERISIGN INC,VRSN,557832000.0,71153000.0,10961520.0,64100.0,50.890023,59.78,8.889977,5089.002255,888.997745

In [39]:
df.groupby('file_date').agg({'cost':'sum', 'gains': 'sum'}).reset_index().rename(columns={'cost':'Total Cost', 'gains':'Total Gains'})

     file_date     Total Cost   Total Gains
0   2013-09-30   21034.002536   2319.997464
1   2013-12-31   38547.006500    869.993500
2   2014-03-31   55084.004104  -2013.004104
3   2014-06-30   82959.008668 -17451.008668
4   2014-09-30  126830.014514 -55563.014514
5   2014-12-31  134258.518706 -60870.518706
6   2015-03-31   73410.997664 -18096.997664
7   2015-06-30   21465.005259 -12220.005259
8   2015-09-30   50728.007441 -15321.007441
9   2015-12-31   19964.010488  -1151.010488
10  2016-03-31   70736.006129 -17805.006129
11  2016-06-30   26875.004514   1466.995486
12  2016-09-30   68820.021271   1925.978729
13  2016-12-31   33196.000298   1782.999702
14  2017-03-31   36980.008682   2684.991318
15  2017-06-30   38106.000000  -1667.000000

In [42]:
sum(df.gains)

-191107.61677275921